<!-- the contact card -->
<div class="material-contact animate-in-card">
  <div *ngFor="let user of baseData | async">
    <!-- <span>TEST: {{user.experiences.work1.duration}}</span> -->

    <!-- image -->
    <img class="animate-in-image" src="http://lorempixel.com/400/400/sports">
    <!-- name -->
    <h1 class="animate-in-01">{{user.name}}</h1>
    <!-- title -->
    <h2 class="animate-in-02">{{user.title}}</h2>

    <hr class="animate-in-03">

    <!-- bio -->
    <p class="animate-in-04">{{user.description}}</p>

    <!-- contact links -->
    <span class="actions animate-in-05">

      <a href="https://www.twitter.com/" target="_blank">LinkedIn</a>
      <a href="https://www.dribbble.com/" target="_blank">Twitter</a>
      <a href="https://www.behance.net/" target="_blank">Github</a>

    </span>
  </div>
</div>
