<!-- TODO: Add current paths to routing!

  <nav class="navigation">
  <a class="navElement" routerLink="/home{{currentPath}}" routerLinkActive="active">Who am I?</a>
  <a class="navElement" routerLink="/experiences{{currentPath}}" routerLinkActive="active">Experiences</a>
</nav>

<router-outlet></router-outlet> -->


<nav class="navigation">
  <a class="navElement" routerLink="/home" routerLinkActive="active">Who am I?</a>
  <a class="navElement" routerLink="/experiences" routerLinkActive="active">Experiences</a>
</nav>

<router-outlet></router-outlet>
