.navigation {
  height: 2em;
  display: flex;
  background-color: #efefef;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
}

.navElement {
  flex: 1;
  align-self: center;
  text-align: center;
  text-decoration: unset;
  color: black;
}

.active {
  /* color: pink; */
  /* font-style: italic; */
  font-weight: bold;
}
